@model IEnumerable<ASP_MVC_Testing.Models.Stanowisko>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pensja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pensja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.StanowiskoId }, htmlAttributes: new { name = "edycja" }) |
            @Html.ActionLink("Details", "Details", new { id=item.StanowiskoId }, htmlAttributes: new { name = "details" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StanowiskoId }, htmlAttributes: new { name = "delete" })
        </td>
    </tr>
}

</table>
